*{
    margin:20px;
    padding:10px;
}
h1
{
margin:2px;
padding:1px;
border:2px solid #540;
border-radius:10px;
text-align:center;
font-family:Times-New-Roman;
color:#963;
font-size:70px;
text-transform: uppercase;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}